:root {
  --color_base_1: #000000;
  --color_base_1_2: #292929;

  --color_base_2: #ffc815;

  --color_base_3: #585858;

  --color_base_4: #ffffff;
  --border_radius_1:1rem
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color_base_1_2);
  color: #ffffff;
  overflow-x: hidden;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.75rem;
}
p {
  font-size: 0.5rem;
  color: var(--color_base_4);
}
.dashboard-web {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* nav bar============================================================================== */
.navigation_bar {
  height: 8vh;
  width: 100%;
  background-color: var(--color_base_1);
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
/*  */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.company_name {
  text-transform: uppercase;
}
/* new concept */
/* @keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
} */
.lion_logo {
  width: 5rem;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.logout {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}
.material-symbols-sharp {
  align-items: center;
  display: flex;
}
.logout_name > h3 {
  font-size: 15px;
}

/* sidebar========================================== */
#main {
  height: 92vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 2rem;
}

#aside {
  background-color: var(--color_base_1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

#profile_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  height: 40%;
}
#profile_2 {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user_img_2 {
  border-radius: 50%;
  width: 10rem;
}
#user_info_2 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#user_info_2 > h4 {
  font-weight: 550;
  font-size: 1.2rem;
  position: relative;
}
#user_name {
  color: var(--color_base_2);
}

#study_info {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  cursor: pointer;
  height: 40%;
  line-height: 4.5rem;
}
#sem_info {
  height: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  cursor: pointer;
  line-height: 4.5rem;
}

/* shortcut */
#study_info > h3:hover,
#sem_info > h3:hover {
  background: rgb(255, 200, 21);
  background: linear-gradient(
    90deg,
    rgba(255, 200, 21, 1) 2%,
    rgba(88, 88, 88, 0.6068111455108359) 2%
  );
  border-color: #ffc815;
  padding-left: 15px;
  transition: 0.3s;
}

#study_info > h3:active,
#sem_info > h3:active {
  color: var(--color_base_2);
  background: rgb(255, 200, 21);
  background: linear-gradient(
    90deg,
    rgba(255, 200, 21, 1) 2%,
    rgba(88, 88, 88, 0.6068111455108359) 2%
  );
}

#study_info > h3:visited,
#sem_info > h3:visited {
  color: var(--color_base_2);
  background: rgb(255, 200, 21);
  background: linear-gradient(
    90deg,
    rgba(255, 200, 21, 1) 2%,
    rgba(88, 88, 88, 0.6068111455108359) 2%
  );
}

/* main bar================================================================================================================ */
#middle {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#Dashboard>h1{
  font-size: 2rem;
  margin-top: 1rem;
}
#input_form {
  background-color: var(--color_base_3);
  height: 60%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: var(--border_radius_1);
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#sub_input1,
#sub_input2,
#sub_input3,
#sub_input4,
#sub_input5,
#sub_input6,
#sub_input7,
#sub_input8,
#sub_input9 {
  font-size: large;
  font-weight: 900;
  text-align: center;
  height: 100%;
  width: 20%;
  background-color: var(--color_base_2);
}
.sub_1,
.sub_2,
.sub_3,
.sub_4,
.sub_5,
.sub_6,
.sub_7,
.sub_8,
.sub_9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  background-color: var(--color_base_1_2);
  color: var(--color_base_2);
  text-transform: uppercase;
  font-size: large;
  font-weight: 900;
  margin: 10px;
}
#cal_btn {
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  background-color: var(--color_base_1_2);
  color: var(--color_base_2);
  text-transform: uppercase;
  font-size: large;
  font-weight: 900;
  cursor: pointer;
}
/* ============================ */
#right {
  height: inherit;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
}
#right_container {
  background-color: var(--color_base_3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 55%;
  margin-top: 6rem;
  width: 80%;
  border-radius: var(--border_radius_1);
}
#gpa_cal,
#cgpa_cal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  border-radius: var(--border_radius_1);
  align-items: center;
  background-color: var(--color_base_1_2);
  color: #ffc815;
  text-transform: uppercase;
  font-size: large;
  font-weight: 900;
}
#gpa,
#cgpa > h1 {
  padding: 0 2rem;
  color: var(--color_base_1_2);
  background-color: var(--color_base_2);
}
@media (min-width: 1440px) and (max-width: 1920px){

}
@media (min-width: 1024px) and (max-width: 1339px){
}
@media (min-width: 768px) and (max-width: 1023px){
  
}
@media (min-width: 481px) and (max-width: 767px){

}
@media (min-width: 381px) and (max-width: 480px){

}